.offer-container{
    display: flex;
    flex-direction: column;
    margin: 150px 90px;

}
.offer-container .component-title{
    display: flex;
    margin: auto;
    margin-bottom: 50px;
}
.offer-container .component-title h2{
    font-size: 45px;
    font-weight: 700;
    line-height: 56.25px;
    align-items: center;
}
.offer-container span{
    position: absolute;
    font-size: 25px;
    font-weight: 500;
    line-height: 50px;
    color: #000;
}
.offer-container .accordion-body ul li{
    font-size: 50px;
    line-height:50.6px;
    font-weight: 700;
    color:#9524FF;  
}
.offer-container .accordion-body ul li p{
    font-size: 16px;
    line-height:25.6px;
    font-weight: 400;
    color: #000;
}
.offer-container .right-content{
    display: flex;
    /* justify-content: flex-end; */
    margin-left: 40px;
    
}